.create-project-container{
    margin-top: 5%; 
    margin-bottom: 5%;
}
.form-container{
    margin: 0 auto;
    width: 60%;
}
.form-group{
    margin: 0 auto;
    margin-bottom: 1rem;
}
.input-element{
    width: 50%;
}
.create-project-section{
    background: url('../images/2.jpg') center no-repeat fixed;
    height: 100%;

}
.create-project-form{
    padding: 5%;
    background: #292b2c;
    box-shadow: 0 5px 8px 0;
}
.create-project-form h3{
    text-align: center;
    color: #fff;
}
.create-project-container form{
    padding: 5%;
}
.create-project-form .forgot-password{
    color: #fff;
    font-weight: 600;
}
.proj-error{
    color: #bd1c37;
    font-weight: 600;
}
.managerDropDown{
    background-color: #fff;
    padding: 1%;
    border-radius: 20;
}

