.home-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}
.home-div{
    background: url('../images/2.jpg') center no-repeat fixed;
    height: 100%;
}
.card{
    margin-left: 10px;
    width: 13rem; 
}
.card-header{
    background-color: #292b2c !important;
    color: white;
}
.create-card{
    margin-top: 18%;
}
