.navbar{
    /* height: 10vh; */
}
.register-btn{
    margin-left: 10px;
}
.register-logo{
    height: 25px;
    width: 25px;
}
.login-btn{
    margin-left: 25px;
}
.website-label{
    margin-left: 10px;
}