.reset-pwd-container{
    margin-top: 5%; 
    margin-bottom: 5%;
}
.form-container{
    margin: 0 auto;
    width: 60%;
}
.reset-pwd-section{
    background: url('../images/2.jpg') center no-repeat fixed;
    height: 100%;
}
.form-group{
    margin: 0 auto;
    margin-bottom: 1rem;
}
.input-element{
    width: 50%;
}
.reset-pwd-form{
    padding: 5%;
    background: #292b2c;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.reset-pwd-form h3{
    text-align: center;
    color: #fff;
}
.reset-pwd-container form{
    padding: 5%;
}
.reset-pwd-form{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.reset-error{
    color: #74230D;
    font-weight: 600;
}
